body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

a:link, a:visited
{
  color: white;
  text-decoration: none;
}
/* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  .titulo
  {
  	color: green;
  	text-align: center;
  }

 /*.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #DC3545;
   color: white;
   /*text-align: center;
}*/


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*.cont {
	background: green;
    padding: 2px 16px;
    color: white;
}*/
.info
{
	margin: 5px;
}

.logof img
{
	margin-top: -300px;
	position: relative;
	margin-left: 70%;
	height: 200px;
	width: 190px;
}

.tour
{
  margin-left: 15%;
}

.tour img
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 5px;
}



/*#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #4CAF50;
}

#blog {
  top: 80px;
  background-color: #2196F3;
}

#projects {
  top: 140px;
  background-color: #f44336;
}

#contact {
  top: 200px;
  background-color: #555
}*/

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.card:hover .overlay {
  opacity: 0.9;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.asistencia
{
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  /*transition: 0.3s;*/
  text-align: center;
  padding: 0;
  padding-bottom: 10px;
  background: white;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: inline-block;
}

.asistencia p
{
  color: #958888;
}

.asis
{
  background: #1D2939;
  width: 400px;
  padding: 5px;
  margin-left: 35%;

}

.asis h2
{
  color: white;
}

.icon-container
{
   background-color: #051A3A;
   
   color: black;
   height: 150px;
   width: 300px;
   line-height: 150px;
   border-radius: 50%
   margin: auto;   
   margin-bottom: 5px;
   display: inline-block;
   position: relative;
   padding: 5px;

}

.icon-container img
{
  height: 100px;
  width: 100px;
}




.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 15px;
  /*border: 10px solid #f1f1f1;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 1000px;
  min-width: 700px;
  height: 300px;
  padding: 20px;
  text-align: center;
}


.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;*
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 30%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}




.topnav {
  overflow: hidden;
  background-color: #333;
  padding-left: 30%; 

}
.topnav .nav-img a
{
  padding: 23px;
}
.topnav a 
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.nav-item a
{
  padding: 30px;
}
.nav-item a:hover
{
  background-color: #bc202e;
  color: white;
}


.slidegall h2
{
  color: white;
  font-size: 30px;
}
.slidegall p
{
  color: #008000;
  font-size: 20px;
}

.text-block
{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7;
}
.cont
{
	width: 70%;
	height: 500px;
	background-color: grey;
	margin-left: 15%;
	color: white;
	text-align: center;


}